<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>customer</title>
</head>
<body>
<h1> List of Customers </h1>
<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> Author </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td><span th:text="${customer.name}"> Title </span></td>
        <td><span th:text="${customer.surName1}"> Author </span></td>
    </tr>
    </tbody>
</table>



</body>
</html>